colour
names
opencv-python
pygal
pygaljs
pyspellchecker
pytesseract
pytest-benchmark
symspellpy
tesserocr
# attrs==20.3.0 # Installed as dependency for pytest
# iniconfig==1.1.1 # Installed as dependency for pytest
# numpy==1.19.4 # Installed as dependency for symspellpy, opencv-python
# packaging==20.8 # Installed as dependency for pytest
# pillow==8.0.1 # Installed as dependency for pytesseract
# pluggy==0.13.1 # Installed as dependency for pytest
# py==1.10.0 # Installed as dependency for pytest
# py-cpuinfo==7.0.0 # Installed as dependency for pytest-benchmark
# pyparsing==2.4.7 # Installed as dependency for packaging
# pytest==6.2.1 # Installed as dependency for pytest-benchmark
# toml==0.10.2 # Installed as dependency for maturin, pytest
