/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 40px;
}

/* Links inside the navbar */
.navbar label {
  color: #f2f2f2;
  vertical-align:middle;
  padding: 14px 16px;
  margin: 0px;
  font-weight: bolder;
  font-family: Fira Sans,sans-serif;
}

.navbar input {
  margin-top: 10px;
}

/* Main content */
.main {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}

 .bodyclass{
	background-image: url("/static/images/Void.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
 }
 .relicdisplaybar{
    display:-webkit-flex;
    -webkit-flex-direction:row;
    display:flex;
    flex-direction:row;
    flex:1;
    align-items:center;
    -webkit-align-items:center;
    height:140px;
    border-style:solid;
    border-radius:16px;
    border-width:1px;
    margin-top:2px;
    padding-left:20px;
	background-color:#c4d3f6;
}
 .relicdisplaybar *{
    -khtml-user-select:none;
    -webkit-touch-callout:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
 .theme-bright [_nghost-c1] .relicdisplaybar:hover{
    background-color:#e5e5e5;
}
 .expandable:hover,.expandable *:hover{
    cursor:pointer;
}
 .relicicon{
    opacity:1;
    vertical-align:middle;
    margin-left:0;
    margin-top:5px;
}
 .relictitle{
    text-align:center;
    margin-top:4px;
    display:block;
	font-weight: bolder;
	font-family: Fira Sans,sans-serif;
	
}
 .possessors{
	text-align:center;
	font-weight: bolder;
	font-family: Fira Sans,sans-serif;
 }
 .relicdtable{
    table-layout:auto;
    width:800px;
    margin:5px;
    margin-left:20px;
}
 .relicdtable,.relicdtable td{
    border-style:solid;
    border-collapse:collapse;
}
 .theme-bright [_nghost-c1] .relicdtable,.theme-bright [_nghost-c1] .relicdtable td{
    border-color:lightgray;
}
 .ducaticon{
    vertical-align:middle;
}
 .platicon{
    vertical-align:middle;
}
 .relicdtable td{
    height:40px;
}
 .dropcommon,.dropuncommon,.droprare{
    padding-left:8px;
	border-right:0;
}
 .dropcommon{
    color:saddlebrown;
	border-color: black;
	font-weight: bolder;
	font-family: Fira Sans,sans-serif;
	text-shadow: 0 0 7px rgba(0,0,0, 0.25);
 }
 .dropuncommon{
    color:darkslategray;
	text-shadow: 0 0 7px rgba(0,0,0, 0.25);
	border-color: black;
	font-weight: bolder;
	font-family: Fira Sans,sans-serif;
}
 .droprare{
    color:goldenrod;
	border-color: black;
	font-weight: bolder;
	font-family: Fira Sans,sans-serif;
	text-shadow: 0 0 7px rgba(0,0,0, 0.25);
}
 .plat{
    border-right:0px;
	border-left:0px;
	vertical-align:middle;
}
 .ducat{
	border-left:0px;
	vertical-align:middle;
}
 .traceicon{
    vertical-align:middle;
}
 .ducattable{
    margin-left:16px;
    border-collapse:collapse;
    height:129px;
    width:326px;
    margin-top:1px;
	border:1px solid lightgray;
}
 .ducattable th{
    padding:2px;
    height:32px;
}
 .ducattable th:first-child{
    border-top:0;
    border-left:0;
    width:99px;
}
 .ducattable th:nth-child(2){
    width:95px;
}
 .ducattable th:nth-child(3){
    width:117px;
}
 .ducattable td{
    text-align:center;
    vertical-align:middle;
    height:20px;
}
 .ducattable td:first-child{
    padding-left:6px;
    padding-right:6px;
    text-align:left;
}
 .hlEffMed{
    color:mediumblue;
}
